body {
    background-color: rgb(53,53,53);
    color: whitesmoke;
}

.top{
    text-align: center;
}

img{
    max-height: 200px;
    max-width: 540px;
}

header {
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    border-style: hidden;
    border-bottom: 20px;
}

h3 {
    margin: 1px;
    font-family: 'Unica One', cursive;
    font-size: 26px;
}

article{
    font-family: 'Dosis', sans-serif;
    background-color: #1A1818;
}

h2{
    margin-top: 16px;
    margin-bottom: 16px;
}

.all_watches_container {
    margin-bottom: 15px;
    margin-left: 50px;
}

.all_watches_container img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.watch_container {
    margin-bottom: 15px;
}